In [21]:
import pandas as pd

csv_data = pd.read_csv('data/new_minutes_durations_history.csv')
csv_data.columns

Index(['TehETOID', 'DatLans', 'Kol', 'ItemType', 'ItemGroup', 'ItemCode',
       'ItemName', 'ResourceGroup', 'StandardOperationCode',
       'StandardOperationName', 'WorkerTimeDuration', 'MachineTimeDuration'],
      dtype='object')

In [22]:
tehids_counts = csv_data.groupby('TehETOID')['ItemCode'].count().reset_index()
cutoff = 7
tehids_counts[tehids_counts['ItemCode'] >= cutoff]['ItemCode'].sum(), len(tehids_counts[tehids_counts['ItemCode'] >= cutoff]), len(tehids_counts)

(14752, 1668, 52194)

In [23]:
sel_tehids = tehids_counts.loc[tehids_counts['ItemCode'] >= cutoff, "TehETOID"]
csv_data[csv_data["TehETOID"].isin(sel_tehids)].to_csv('data/TehETOID_for_machine_learning.csv', index=False)

In [24]:
mean_std_data = csv_data[~csv_data["TehETOID"].isin(sel_tehids)].groupby('TehETOID')[['WorkerTimeDuration', 'MachineTimeDuration']]\
    .agg(
        WorkerTimeDurationMean=('WorkerTimeDuration', 'mean'),
        WorkerTimeDurationSTD=('WorkerTimeDuration', 'std'),
        MachineTimeDurationMean=('MachineTimeDuration', 'mean'),
        MachineTimeDurationSTD=('MachineTimeDuration', 'std'),
        Count=('MachineTimeDuration', 'count'),
    )\
    .reset_index()

In [25]:
mean_std_data.to_csv('data/TehETOID_means.csv', index=False)

In [20]:
mean_std_data

,TehETOID,WorkerTimeDurationMean,WorkerTimeDurationSTD,MachineTimeDurationMean,MachineTimeDurationSTD,Count
0,233923,2.000000,NaN,2.000000,NaN,1
1,233927,2.000000,1.414214,2.000000,1.414214,2
2,233928,1.000000,0.000000,1.000000,0.000000,2
3,233931,1.000000,NaN,1.000000,NaN,1
4,233932,2.000000,NaN,2.000000,NaN,1
...,...,...,...,...,...,...
51461,2562941,0.463763,NaN,0.154588,NaN,1
51462,2562943,0.455105,NaN,0.151702,NaN,1
51463,2562945,0.455105,NaN,0.151702,NaN,1
51464,2562980,0.463763,NaN,0.154588,NaN,1
51465,2565190,0.175360,NaN,0.058453,NaN,1